<article id="schedule">
  <h2>Sessions by geeks for geeks, based on the proposals you submitted and voted for. 18<sup>th</sup> February 2012.</h2>
  <div class="separator"></div>
  <div class="separator" id="schedule-table">
    <table>
      <thead>
        <tr>
          <th class="time">Time</th>
          <th class="col">Room 1</th>
          <th class="col">Room 2</th>
        </tr>
      </thead>
      <tbody>
        <tr class="break">
          <td class="time">09:00 - 09:45</td>
          <td colspan="2">Registration and Sign-in</td>
        </tr>
        <tr class="break">
          <td class="time">09:45 - 10:00</td>
          <td colspan="2">Introductions</td>
        </tr>
        <tr>
          <td class="time">10:00 - 11:00</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/220-advanced-javascript-techniques">
              <span class="session">Advanced JavaScript Techniques</span>
            </a>
            <span class="speaker">Rajasekharan Vengalil</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/185-cross-platform-mobile-apps-using-jquery-mobile-and-rhomobile">
              <span class="session">Cross Platform Mobile apps using JQuery Mobile and Rhomobile</span>
            </a>
            <span class="speaker">Balaji Loganathan</span>
          </td>
        </tr>
        <tr>
          <td class="time">11:00 - 11:45</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/192-rise-of-node-js">
              <span class="session">Rise of Node.js</span>
            </a>
            <span class="speaker">Arun Kumar Arjunan</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/210-production-ready-apps-with-flatiron">
              <span class="session">Production ready apps with flatiron</span>
            </a>
            <span class="speaker">Pavan Kumar Sunkara</span>
          </td>
        </tr>
        <tr class="break">
          <td class="time">11:45 - 12:00</td>
          <td colspan="2">Break</td>
        </tr>
        <tr>
          <td class="time">12:00 - 12:45</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/223-javascript-and-the-compatible-web">
              <span class="session">JavaScript and the Compatible Web (sponsored)</span>
            </a>
            <span class="speaker">Rajasekharan Vengalil</span>
          </td>
          <td><em>(Speaker has withdrawn)</em></td>
        </tr>
        <tr>
          <td class="time">12:45 - 01:30</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/193-amplify-your-stack">
              <span class="session">Amplify your stack</span>
            </a>
            <span class="speaker">Aditya Yadav</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/189-data-visualisation-in-javascript">
              <span class="session">Data visualisation in Javascript</span>
            </a>
            <span class="speaker">Anand S</span>
          </td>
        </tr>
        <tr class="break">
          <td class="time">01:30 - 02:30</td>
          <td colspan="2">Lunch</td>
        </tr>
        <tr>
          <td class="time">02:30 - 03:15</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/184-adding-real-time-support-to-your-web-app">
              <span class="session">Adding real time support to your web app</span>
            </a>
            <span class="speaker">Kausikram Krishmasayee</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/212-building-visualizations-that-rock-using-web-standards">
              <span class="session">Building visualizations that rock using Web Standards</span>
            </a>
            <span class="speaker">Harish Sivaramakrishnan</span>
          </td>
        </tr>
        <tr>
          <td class="time">03:15 - 04:00</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/215-tracking-memory-leaks-in-client-side-javascript-applications">
              <span class="session">Tracking Memory Leaks in Client Side Javascript Applications</span>
            </a>
            <span class="speaker">Vishnu Iyengar</span>
          </td>
        <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/224-node-js-on-windows-azure">
              <span class="session">Node.js on Windows Azure (sponsored)</span>
            </a>
            <span class="speaker">Rajasekharan Vengalil</span>
        </td>
        </td>
        </tr>
        <tr class="break">
          <td class="time">04:00 - 04:15</td>
          <td colspan="2">Break</td>
        </tr>
        <tr>
          <td class="time">04:15 - 05:00</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/219-javascript-is-mischievous-handle-3rd-party-content-with-care">
              <span class="session">JavaScript is mischievous. Handle 3rd party content with care!</span>
            </a>
            <span class="speaker">Krishna Chaitanya T</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/211-face-off-jquery-mobile-vs-sencha-touch">
              <span class="session">Face/Off: jQuery Mobile vs Sencha Touch</span>
            </a>
            <span class="speaker">Harish Sivaramakrishnan</span>
          </td>
        </tr>
        <tr>
          <td class="time">05:00 - 05:45</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/218-ajax-is-history-build-real-time-apps-in-javascript">
              <span class="session">Ajax is history  - Build real time apps in JavaScript</span>
            </a>
            <span class="speaker">Srirangan S</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="https://funnel.hasgeek.com/jsfoo-chennai/190-object-oriented-programming-in-javascript">
              <span class="session">Object Oriented programming in Javascript</span>
            </a>
            <span class="speaker">Abhishek Yadav</span>
          </td>
        </tr>
        <tr class="break">
          <td class="time">05:45 - 06:00</td>
          <td colspan="2">Feedback Session</td>
        </tr>
      </tbody>
    </table>
  </div>  
</article>


