<article id="videos">
  <h2>Speakers and their sessions</h2>
  <iframe width="420" height="315" src="https://www.youtube.com/embed/SBeQAtZK-84" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/pDGVMkaCWdM" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/pDvsdpHSk5o" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/qqHMSOme2E0" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/nLXWqAhM_Gc" frameborder="0" allowfullscreen></iframe>
</article>
