<article id="schedule">
  <h2>Vote on these proposals. The best proposals go onto the schedule.</h2>
  <div class="separator">
  </div>
  <div class="info" id="proposal-table">
    Schedule yet to be finalized.<br/>
    Meanwhile go ahead and vote for the proposals on <a href="http://funnel.hasgeek.com/jsfoo-pune/">HasGeek's funnel.</a>
  </div>
</article>
