<article id="about-hasgeek">
  <h2>Who We Are, and Why We Do What We Do</h2>
  <div class="separator two-column">
    <p>
      <strong>HasGeek is a developer-led initiative</strong>, and has been un-organising the unconference scene since 2010.
      <a title="The uber-minimalist HasGeek website" target="_blank" href="https://hasgeek.com">HasGeek</a> is an attempt to
      solve the problem of insipid conferences organised around buzzwords by uninterested, soulless corporate entities who
      pitch them as company training events or as places for companies to pick up hot developers.
    </p>
    <p>
      We are attempting to build a new space, <strong>a space that is genuinely respectful</strong> of the communities and
      topics that we choose to engage with. We want to be a space for developers who are as excited as us about technology
      and the possibilities that it creates, not to be a recruitment fair <em>(though we hope you do find partnership
      possibilities at our events)</em>.
    </p>
    <p>   
      We are community-driven &mdash; <a href="https://funnel.hasgeek.com" target="_blank">check out our speaker-selection funnel</a>,
      where <strong>you</strong> decide what talks to listen to by voting up or down
      &mdash; and small &mdash; there are just a handful of us running the show and only <em>one</em> of us gets a regular salary from this.
      We are doing this because this is what we love: bringing a whole bunch of us geeks together, sharing our interests
      and expertise and hanging out later over <code>$beverageOfChoice</code>.
    </p>
  </div>
</article>
