<!doctype html>
<!-- well, what are you looking for -->
<title> <%= title %> - what did you just do ??</title>
<meta charset="utf-8" />
<meta http-equiv="refresh" content="10; url=/" />
<link href="/img/favicon.ico" rel="shortcut icon" />
<style>html{padding:0;margin:0;}body{background:#000;color:#146;text-shadow:0 0 3px #CC8;font-family:georgia,sans-serif;font-size:72px;text-align:center;padding-top:30px;margin:0;}</style>
<body><h3>Bah!!</h3> what did you just do ??</body>