<style>body{background:#fff;}</style>
<div class="notyet">
<h1><%= title %></h1>
<p>
  An awesome JS conference is coming to Bangalore on October 1st. 
  <br/>
  While we update the website, go read & vote on <a href="//funnel.hasgeek.com/jsfoo/">proposals for the talks</a>
</p>
<p>
  Meanwhile checkout <a href="//hasgeek.com/">HasGeek's</a> past events
  <br/>
  <a href="//www.doctypehtml5.in/">DocType HTML5</a>,
  <a href="//androidcamp.hasgeek.com/">AndroidCamp</a> and
  <a href="//phpcloud.hasgeek.com/">Scaling PHP in the Cloud</a>
</p>
</div>