<!DOCTYPE html>
<!--
  \o/ ... Looks like you found some source-code. You must be a "hacker", aren't you ;)
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/style.css' />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <title><%= title %></title>
  </head>
  <body>
    <%- body %>
  </body>
</html>