<!DOCTYPE html>
<!--
  \o/ ... Looks like you found some source-code. You must be a "hacker", aren't you ;)
-->
<html lang="en" class="nohw">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=1000, maximum-scale=1.0">
    <link rel='stylesheet' type='text/css' href='/css/normalize.css' />
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="author" type="text/plain" href="/humans.txt" />
    <link rel="canonical" href="https://jsfoo.in/<%= prefix %>/" />
    <link rel="shortcut icon" href="/img/favicon.ico" />

    <meta content="JSFoo, India's first community driven JS conference" name="DC.title" />
    <meta content="All about JS" name="description" />
    <meta content="HasGeek" name="author" />
    <title><%= title %></title>
    <script type="text/javascript">
        var _gaq = [['_setAccount', 'UA-19123154-15'],['_trackPageview']];
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www')+'.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%- body %>
  </body>
</html>