<!DOCTYPE html>
<!--
  \o/ ... Looks like you found some source-code. You must be a "hacker", aren't you ;)
-->
<html lang="en" class="nohw">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <link rel='stylesheet' type='text/css' href='/css/normalize.css' />
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <meta content="jsFoo, India's first community driven JS conference" name="DC.title" />
    <meta content="All about JS" name="description" />
    <meta content="HasGeek" name="author" />
    <link href="img/favicon.ico" rel="shortcut icon" />
    <title><%= title %></title>
  </head>
  <body>
    <%- body %>
  </body>
</html>