<header>
  <nav>
    <a href="/about-event">About Event</a>
    <a href="/about-hasgeek">About HasGeek</a>
    <a href="/schedule">Schedule</a>
    <a href="/venue">Venue</a>
  </nav>
  <a href="/" class="logo">
    <img src="/img/logo.png" />
  </a>
  <nav>
    <a href="/hacknight">Hack Night</a>
    <a href="/videos">Videos</a>
    <a href="/sponsors">Sponsors</a>
    <a href="/credits">Credits</a>
  </nav>  
  <a href="/register" class="register">
    <strong>Register</strong>
  </a>
  <div id="pptsalon">
    <a href="/credits">Designed by PPTSalon</a>
  </div>
</header>