<article id="videos">
  <h2>Speakers and their sessions</h2>
  <iframe width="560" height="315" src="//www.youtube.com/embed/9C4TgEUbHHM" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="//www.youtube.com/embed/EOReHS3T7Tk" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="//www.youtube.com/embed/f-e6eakVJwA" frameborder="0" allowfullscreen></iframe>
  <iframe width="420" height="315" src="//www.youtube.com/embed/Pg6fX7gCnvY" frameborder="0" allowfullscreen></iframe>
</article>