html,body{width:100%;height:100%;overflow:hidden;margin:0;padding:0;background-image:url("/img/bg.png")}
body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif;color:#222;min-width:900px}
a,a:visited,a:active{color:#df5e0e;text-decoration:none}
.notyet{text-align:center;}
.notyet h1{font-size:86px;color:#444;text-shadow:1px 1px 0 #bbb,2px 2px 0 #999,3px 3px 0 #888,4px 3px 1px #888,5px 3px 2px #888;font-family:"Alice",serif;width:400px;margin:50px auto 20px}
.notyet p{line-height:30px;margin:20px auto;font-size:12px;color:#444}
header{z-index:16;position:fixed;top:0;left:0;right:0;height:110px;min-width:900px;background-color:#261800;text-align:center;vertical-align:middle;border-bottom:1px solid #100;box-shadow:5px 0 5px rgba(20,10,0,0.70);}
header nav{vertical-align:top;margin-top:80px;display:inline-block;}
header nav a{margin-top:40px;color:#fff;text-transform:uppercase;text-decoration:none;font-family:"Open Sans Condensed",sans-serif;font-size:16px;padding:0 8px 0 0;}
header nav a:visited,header nav a:active{color:#fff}
header nav a:first-of-type{text-shadow:2px 0 0 #000}
header nav a:last-of-type{text-shadow:-2px 0 0 #000}
header nav a:not(:last-of-type):after{content:"|";padding-left:8px;opacity:.2}
header nav a:after{text-shadow:0 none}
header nav a:hover{color:#ffa500;text-shadow:0 0 10px #fff;}
header nav a:hover:after{color:#fff}
header a.logo{display:inline-block;height:90px;width:380px;vertical-align:top;}
header a.logo img{z-index:32;border:0 none;padding:0 25px}
header a.register{position:absolute;top:105px;right:0;padding:0 35px;opacity:.6;z-index:10;-webkit-transition:opacity .3s ease-in-out,top .3s ease-out;-moz-transition:opacity .3s ease-in-out,top .3s ease-out;-o-transition:opacity .3s ease-in-out,top .3s ease-out;transition:opacity .3s ease-in-out,top .3s ease-out;}
header a.register strong{z-index:10;text-indent:-50000px;background-image:url("/img/sprite.png");background-repeat:no-repeat;display:block;height:150px;width:90px}
header a.register:hover{background-image:url("/img/sprite.png");background-repeat:no-repeat;background-position:0 -160px;opacity:1;top:110px}
body.register a.register{top:-150px}
#outer{z-index:8;position:relative;-webkit-transform:translate3d(0,0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);}
#outer.animated{-webkit-transition:-webkit-transform .5s ease-in-out;-moz-transition:-moz-transform .5s ease-in-out;-o-transition:-o-transform .5s ease-in-out;transition:transform .5s ease-in-out;}
section.panel{position:absolute;z-index:4;margin:0;top:0;left:0;right:0;padding-top:140px;overflow:hidden;min-height:600px;}
section.panel article{width:900px;overflow:auto;margin:0 auto}
#home{background-image:url("/img/temple.jpg");background-repeat:no-repeat;background-position:top center;min-height:760px;text-indent:-50000px;font-size:0}
#about-event,#about-hasgeek,#venue,#proposals{margin:0 auto;background-repeat:no-repeat;background-position:top center;}
#about-event h2,#about-hasgeek h2,#venue h2,#proposals h2{margin:0 auto;text-align:center;text-transform:uppercase;font-family:"Open Sans Condensed",sans-serif;}
#about-event h2:after,#about-hasgeek h2:after,#venue h2:after,#proposals h2:after{background-image:url("/img/separator.png");background-repeat:no-repeat;background-position:top center;padding:20px;content:"";display:block;position:absolute;left:0;right:0;margin-top:30px}
#about-event > div,#about-hasgeek > div,#venue > div,#proposals > div{width:700px;margin:0 auto;}
#about-event > div.two-column,#about-hasgeek > div.two-column,#venue > div.two-column,#proposals > div.two-column{-moz-column-count:2;-webkit-column-count:2;-o-column-count:2;column-count:2;-moz-column-gap:2em;-webkit-column-gap:2em;-o-column-gap:2em;column-gap:2em}
#about-event > div p,#about-hasgeek > div p,#venue > div p,#proposals > div p{margin:0;text-align:justify;line-height:20px;padding-bottom:10px;font-style:italic;font-family:Cambria,"Hoefler Text",Utopia,"Liberation Serif","Nimbus Roman No9 L Regular",Times,"Times New Roman",serif;}
#about-event > div p b,#about-hasgeek > div p b,#venue > div p b,#proposals > div p b{font-style:normal;font-size:300%}
#about-event{background-image:url("/img/AboutEvent.jpg");}
#about-event h2{width:500px;margin-top:220px;padding-bottom:100px}
#about-hasgeek{background-image:url("/img/AboutHasGeek.jpg");}
#about-hasgeek h2{margin-top:140px;padding-bottom:180px;padding-left:250px;width:200px;}
#about-hasgeek h2:after{margin-top:120px}
#venue{background-image:url("/img/Venue.jpg");}
#venue h2{width:240px;margin-top:100px;padding-bottom:100px;padding-right:240px;}
#venue h2:after{margin-top:60px}
#venue #venue-map{position:relative;width:760px;height:320px;border:1px solid #888;border-radius:10px;box-shadow:0 0 4px #888;}
#venue #venue-map > div > .gmnoprint:last-of-type{display:none}
#proposals{background-image:url("/img/Proposals.jpg");}
#proposals h2{width:240px;margin-top:110px;padding-bottom:140px;padding-right:420px;font-size:20px;}
#proposals h2:after{margin-top:100px}
footer #pptsalon{z-index:30;position:fixed;bottom:18px;right:0;}
footer #pptsalon a{text-indent:-50000px;font-size:0;background-image:url("/img/sprite.png");background-repeat:no-repeat;background-position:0 -320px;width:36px;height:38px;display:block;-webkit-transition:width .2s ease-out;-moz-transition:width .2s ease-out;-o-transition:width .2s ease-out;transition:width .2s ease-out}
footer #pptsalon:hover a{width:140px;background-position:0 -360px}
#topic{height:20px;overflow:hidden}
ol{width:150px;float:left;list-style-type:none;line-height:24px;margin:0;margin-right:10px;padding:10px;border:1px solid #edc;border-radius:3px;background-color:#fefef4;overflow:auto}
#log{padding:10px;border:1px solid #fdd;border-radius:3px;overflow:auto;}
#log p{margin:-1px 0 0 0;padding:4px 6px;line-height:22px;border:1px solid #f5f4f0;}
#log p span{font-weight:normal;color:#666}
#log p:nth-child(2n+1){background-color:#f6f7f4}
#log p>u:after{content:":";padding:0 3px;font-weight:normal}
#log time{width:100px;display:inline-block;text-align:left;color:#888}
#log time,#log time:before,#log time:after{font-size:12px;font-family:verdana;color:#888}
#log time:before{content:"[";padding-right:2px}
#log time:after{content:"]";padding-left:2px}
u{text-decoration:none;font-weight:bold;color:#444;padding-right:5px;display:inline-block;min-width:80px;text-shadow:0 0 2px #fff}
::-webkit-scrollbar{width:6px;height:6px}
::-webkit-scrollbar-thumb{background:#eee;border-radius:10px;opacity:.2;border:2px solid #fff;cursor:pointer;box-shadow:none}
ol:hover::-webkit-scrollbar-thumb,div:hover::-webkit-scrollbar-thumb{opacity:1;border:1px solid rgba(140,140,140,0.50);background-color:rgba(155,155,155,0.50)}
ol::-webkit-scrollbar-thumb:active,div::-webkit-scrollbar-thumb:active{border:1px solid #8c8c8c;background-color:#9b9b9b}
