body
  padding 20px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  overflow hidden

a
  color #00B7FF

#topic
  height 20px
  overflow hidden

ol
  width 150px
  float  left
  list-style-type  none
  line-height  24px
  margin  0
  margin-right 10px
  padding  10px
  border  1px solid #EDC
  border-radius  3px
  background-color #FEFEF4
  overflow auto
  
#log
  padding 10px
  border  1px solid #FDD
  border-radius 3px
  overflow auto

p
  margin -1px 0 0 0
  padding 4px 6px
  line-height 22px
  border 1px solid #F5F4F0
  
time
  width 100px
  display inline-block
  text-align left
  color #888

time,time:before,time:after
  font-size 12px
  font-family verdana
  color #888

time:before
  content '['
  padding-right 2px

time:after
  content ']'
  padding-left 2px
  
u
  text-decoration none
  font-weight bold
  color #444
  padding-right 5px
  display inline-block
  min-width 80px
  text-shadow 0 0 2px #fff

p>u:after
  content ':'
  padding 0 3px
  font-weight normal

p span
  font-weight normal
  color #666
  
p:nth-child(2n+1)
  background-color #F6F7F4
  
::-webkit-scrollbar
  width 6px
  height 6px

::-webkit-scrollbar-thumb
  background #EEE
  border-radius 10px
  opacity 0.2
  border 2px solid #FFF
  cursor pointer
  box-shadow none

ol:hover::-webkit-scrollbar-thumb, div:hover::-webkit-scrollbar-thumb
  opacity 1.0
  border 1px solid rgba(140, 140, 140, .5)
  background-color rgba(155, 155, 155, .5)

ol::-webkit-scrollbar-thumb:active, div::-webkit-scrollbar-thumb:active
  border 1px solid rgba(140, 140, 140, 1)
  background-color rgba(155, 155, 155, 1)
