<div class="sponsor-logo">
  <a id="sponsor-microsoft" target="_blank" href="/sponsors/microsoft">Microsoft</a>
</div>
<div id="sponsor-microsoft-writeup" class="sponsor-writeup hidden">
  <h3>Microsoft MSDN</h3>
  <div>
    As the world moves towards a blend of web and client applications that work across devices and form factors, Microsoft has committed itself to help developers deliver immersive experiences that enable this blend between web and client. Towards this end, Microsoft is focusing on leveraging the power and capabilities of HTML5, CSS3 and JavaScript – along with .NET and Silverlight – to enable developers to build faster, richer, trusted and standards based interoperable applications.
  </div>
  <p>
    <b>Fast &amp; Interoperable Sites with HTML5</b>
    HTML5 is the next major update to the W3C HTML specification providing a standard structure for presenting content on the web. The W3C HTML5 specification adds new features like support for advanced graphics, multimedia support and new APIs to make it easier for developers to create rich web based user experiences. 
    <a href="http://msdn.microsoft.com/en-us/ie/aa740476" target="_blank" class="sponsor-exit out">Learn More &rarr;</a>
  </p>
  <p>
    <b>Standards based JavaScript at Native Speeds</b>
    ECMAScript5 is the latest revision of the standard that JavaScript is based on and Internet Explorer 9 features a fast implementation that runs script as native code. This opens up a whole slew of scenarios for web applications, that simply were not feasible earlier. 
    <a href="http://msdn.microsoft.com/en-us/ie/hh410105.aspx" target="_blank" class="sponsor-exit out">Learn More &rarr;</a>
  </p>
  <p>
    <b>Simplifying Site Design with CSS3</b>
    By using Cascading Style Sheets (CSS), designers and developers can apply presentation semantics to their HTML pages. Internet Explorer 9 continues to be fully compliant with the CSS2.1 specifications, and enhances CSS support and adds support for many components of CSS3. 
    <a href="http://msdn.microsoft.com/en-us/ie/gg593671" target="_blank" class="sponsor-exit out">Learn More &rarr;</a>
  </p>
</div>