<div class="sponsor-logo">
  <a id="sponsor-sicsr" target="_blank" href="/sponsors/sicsr">Sybiosis Institute of Computer Studies &amp; Research</a>
</div>
<div id="sponsor-sicsr-writeup" class="sponsor-writeup hidden">
  <h3>Sybiosis Institute of Computer Studies &amp; Research</h3>
  <div>
    Symbiosis Institute of Computer Studies and Research (SICSR) aims at building the future leaders for the IT industry worldwide by imparting world class IT education to them. We offer state-of-art information technology education for building leading-edge and innovative IT applications. IT has become a critical tool for economic, business and social development and will play a pivotal and catalytic role in a nation's progress. The fundamental principles on which we lean on are to use IT in all that we do so that our students are technology savvy and are practicing what they learn namely the use of IT to solve business problems.
  </div>
  <div>
    <a href="http://www.symbiosiscomputers.com/">Visit the Sybiosis Institute of Computer Studies &amp; Research &rarr;</a>
  </div>
</div>
