<article id="hacknight">
  <h2>Join us for a night of JavaScript hacking</h2>
  <div class="info">
    <p>
      What's more fun than a day of talking tech? A night of hacking tech!
    </p>
    <p>
      We love what Yahoo!'s done with <a href="http://en.wikipedia.org/wiki/Hack_Day">Open Hack Day</a>,
      so we're going to have something like it alongside our events starting with JSFoo. JSFoo's hack night
      would be a week before the main event. Date &amp; Venue will be confirmed soon.
    </p>
    <p>
      The JSFoo hack night is open to all speakers and registered participants,
      but venue capacity is limited to 20 since this is a <em>beta</em> event.
      To apply, email <a href="mailto:info@hasgeek.in">info@hasgeek.in</a> with a single line stating that you'd
      like to be there.
    </p>
  </div>
</article>
