<article id="hacknight">
  <h2>Join us for a night of JavaScript hacking</h2>
  <div class="info">
    <p>
      What's more fun than a day of talking tech? A night of hacking tech!
    </p>
    <p>
      We love what Yahoo!'s done with <a href="http://en.wikipedia.org/wiki/Hack_Day">Open Hack Day</a>,
      so we're going to have something like it alongside our events starting with JSFoo. JSFoo's hack night
      is on <strong>January 14<sup>th</sup></strong>, a week before the main event on <strong>January 21<sup>st</sup></strong>.
    </p>
    <p>
      To get an idea of what JSFoo hacknight is supposed to be like, have a glimpse of it via the <a href="/bangalore2011/hacknight">hacknight videos from JSFoo Bangalore.</a>
    </p>
    <p>
      <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dF9zUXFHdXItOVVCQ0hseWZYQnl5WFE6MQ&bc=transparent&htc=transparent&lc=C2470A&tc=222&ttl=0&f=Georgia,Cambria" width="100%" height="783" frameborder="0" marginheight="0" marginwidth="0">
      </iframe>
    </p?
  </div>
</article>
