<article id="hacknight">
  <h2>Join us for a night of JavaScript hacking</h2>
  <iframe width="560" height="315" src="//www.youtube.com/embed/IMaFOc-UDk8" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="//www.youtube.com/embed/_UGRaSfx2_c" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="//www.youtube.com/embed/DjPKdz8Ewk8" frameborder="0" allowfullscreen></iframe>
  
  <div class="info">
    <p>
      What's more fun than a day of talking tech? A night of hacking tech!
      We love what Yahoo!'s done with <a href="http://en.wikipedia.org/wiki/Hack_Day">Open Hack Day</a>, so we're going to have something like it alongside our events starting with JSFoo. 
    </p>
    <p>
      <b>When</b>
      The hack night begins on <strong>12 PM</strong> on <strong>14<sup>th</sup></strong> January & ends at <strong>10am the next morning</strong>.
    </p>
    <p>
      <b>Where</b>
      We are really thankful to AmiWorks for letting us host the hack night in their office.
      Their office address is - 
    </p>
    <pre>AmiWorks, Flat no. 3(b), Ambika Housing Society, Near Chatursinghi Mandir, Senapati Bapat Road, Yashwant Nagar, Pune.</pre>
    <p>
      Detailed directions to the venue are available on <a href="http://amiworks.com/contact.html">their website</a>
    </p>
    <p>
      <b>What to bring</b>
  A laptop (if possible) and lot of ideas and willingness to learn and share what you know :)
    </p>
    <p>
      <b>What can I hack on</b>
      Anything related to JavaScript.
    </p>
    <p>
      <b>Will there be food?</b>
      Yes and Red Bull too for overnight hacking :)
    </p>
    <p>
      <b>What the rules for the contest</b>
    </p>
    <ol>
      <li> It should be somehow related to JavaScript (can be on the client-side, server side, mobile or the desktop)</li>
      <li> You should build the hack during the hacknight</li>
      <li> No changes allowed after the hacknight</li>
    </ol>
    <p>
      To get an idea of what JSFoo hacknight is supposed to be like, have a glimpse of it via the <a href="/bangalore2011/hacknight">hacknight videos from JSFoo Bangalore.</a>
    </p>
  </div>
</article>
