<article id="schedule">
  <h2>Sessions by geeks for geeks, based on the proposals you submitted and voted for.</h2>
  <div class="separator">
  </div>
  <div class="info" id="proposal-table">
    Schedule yet to be finalized. <br/>
    Meanwhile go ahead &amp; vote for the proposals on <a href="http://funnel.hasgeek.com/jsfoo-pune/">HasGeek's funnel.</a>
  </div>
</article>