<article id="schedule">
  <h2>Sessions by geeks for geeks, based on the proposals you submitted and voted for.</h2>
  <div class="separator">
  </div>
  <div class="separator" id="schedule-table">
    Schedule yet to be finalized.
  </div>
</article>