<article id="schedule">
  <h2>Vote on these proposals. The best proposals go onto the schedule.</h2>
  <div class="separator"></div>
  <div class="info" style="font-size: 0.9em; line-height: 2em;">
    JSFoo is a three track conference, with 40 minutes long parallel sessions. <br/>
    <!--Speakers will talk for 30 mins followed by Q&A for 10 mins.<br/>-->
    The conference starts at 9 AM and ends with the closing and feedback session at 6 PM.<br/> 
    Schedule is yet to be finalized, meanwhile go ahead and vote for the proposals on <a href="http://funnel.hasgeek.com/jsfoo-pune/">HasGeek's funnel.</a>
  </div>
  <div class="info" id="proposal-table">
  </div>
</article>
