<article id="schedule">
  <h2>Sessions by geeks for geeks, based on the proposals you submitted and voted for. 21<sup>st</sup> January 2012.</h2>
  <div class="separator"></div>
  <div class="separator" id="schedule-table">
    <table>
      <thead>
        <tr>
          <th class="time">Time</th>
          <th class="col">Room 207: Language</th>
          <th class="col">Room 307: Libraries</th>
          <th class="col">Room 407: Node.js</th>
        </tr>
      </thead>
      <tbody>
        <tr class="break">
          <td class="time">09:00 - 09:45</td>
          <td colspan="3">Registration and Sign-in</td>
        </tr>
        <tr class="break">
          <td class="time">09:45 - 10:00</td>
          <td colspan="3">Introductions</td>
        </tr>
        <tr>
          <td class="time">10:00 - 10:45</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/171-functional-programming-techniques-with-javascript">
              <span class="session">Functional programming techniques with JavaScript</span>
            </a>
            <span class="speaker">Rajasekharan Vengalil</span>
          </td>
        <td></td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/179-node-js-html5-and-phoegap-for-high-performant-content-site-app">
              <span class="session">Node.js, HTML5 and Phonegap for high performant content site app</span>
            </a>
            <span class="speaker">Prasoon Kumar</span>
          </td>
        </tr>
        <tr>
          <td class="time">10:45 - 11:30</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/172-coffeescript">
              <span class="session">CoffeeScript</span>
            </a>
            <span class="speaker">Shreyank Gupta</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/187-writing-quality-third-party-js">
              <span class="session">Writing Quality Third-Party JS</span>
            </a>
            <span class="speaker">Rakesh Pai</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/106-synchronized-models-using-backbone-sockets-and-node">
              <span class="session">Synchronized models using Backbone, Sockets and Node</span>
            </a>
            <span class="speaker">Ruben Stolk</span>
          </td>
        </tr>
        <tr class="break">
          <td class="time">11:30 - 11:45</td>
          <td colspan="3">Break</td>
        </tr>
        <tr>
          <td class="time">11:45 - 12:30</td>
          <td>
            <span class="session">Best practices for building async apps with JavaScript (sponsored)</span>
            <span class="speaker">Rajasekharan Vengalil</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/181-how-to-apply-bdd-and-tdd-practices-using-jasmine-library">
              <span class="session">How to apply BDD and TDD practices, using Jasmine library</span>
            </a>
            <span class="speaker">Anil Tarte</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/163-javascript-native-bindings-to-node-js">
              <span class="session">JavaScript native bindings to node.js</span>
            </a>
            <span class="speaker">Nikhil Marathe</span>
          </td>
        </tr>
        <tr>
          <td class="time">12:30 - 01:15</td>
          <td class="break">Lunch</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/102-error-reporting-techniques-in-js-and-introducing-errorception">
              <span class="session">Error reporting techniques in JS (and introducing Errorception)</span>
            </a>
            <span class="speaker">Rakesh Pai</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/175-building-real-time-web-applications-introduction-to-websockets-socket-io">
              <span class="session">Building real-time web applications ... (Introduction to Websockets / Socket.IO)</span>
            </a>
            <span class="speaker">Aditya Y</span>
          </td>
        </tr>
        <tr>
          <td class="time">01:15 - 02:00</td>
          <td class="break">Lunch</td>
          <td class="break">Lunch</td>
          <td class="break">Lunch</td>
        </tr>
        <tr>
          <td class="time">02:00 - 02:45</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/170-advanced-javascript-techniques">
              <span class="session">Advanced JavaScript Techniques</span>
            </a>
            <span class="speaker">Rajasekharan Vengalil</span>
          </td>
          <td class="break">Lunch</td>
          <td class="break">Lunch</td>
        </tr>
        <tr>
          <td class="time">02:45 - 03:30</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/186-introduction-to-game-development-in-html5">
              <span class="session">Introduction to Game Development in HTML5</span>
            </a>
            <span class="speaker">Rakesh Raju</span>
          </td>
          <td>
            <span class="session">Node.js + Windows + Windows Azure = High performance + Infinite scale (sponsored)</span>
            <span class="speaker">Saranya Sriram</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/162-node-js-patterns-and-how-we-build-activenode">
              <span class="session"><strong>Room 707:</strong> Node.js Patterns and How we build ActiveNode</span>
            </a>
            <span class="speaker">Sreekanth Vadagiri</span>
          </td>
        </tr>
        <tr class="break">
          <td class="time">03:30 - 03:45</td>
          <td colspan="3">Break</td>
        </tr>
        <tr>
          <td class="time">03:45 - 04:30</td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/183-javascript-at-nh7-in">
              <span class="session">Javascript at NH7.in</span>
            </a>
            <span class="speaker">Abdul Munim Kazia &amp; Shreyas Srinivasan</span>
          </td>
          <td>
            <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo-pune/180-amplify-your-stack">
              <span class="session">Amplify your stack</span>
            </a>
            <span class="speaker">Sunil Pai</span>
          </td>
          <td><strong>Room 707:</strong> Hacknight Demos and Open Discussion on JS Frameworks</td>
        </tr>
        <tr class="break">
          <td class="time">04:30 - 05:00</td>
          <td colspan="3">Feedback Session</td>
        </tr>
      </tbody>
    </table>
  </div>  
</article>
