<article id="sponsors">
  <h2>Sponsor JSFoo for good karma and excellent developer outreach.
  <a href="/SponsorKit.pdf">It's easy</a></h2>
  <div class="separator">
    <p>
      Our generous sponsors made this event possible. Click on their logos to read
      why they are participating in this event. Explanations will pop-up over logos.
    </p>
  </div>
  <ul class="lead-sponsors ragged-top">
    <li>
      <h3>Platinum Sponsor</h3>
      <%- partial("../../sponsors/microsoft") %>
    </li>
    <li>
      <h3>Platinum Sponsor</h3>
      <div class="sponsor-logo sponsor-available">Position Available</div>
    </li>
  </ul>
  <ul class="sub-sponsors">
    <li>
      <h3>Gold Sponsor</h3>  
      <%- partial("../../sponsors/talkto") %>
    </li>
    <li>
      <h3>Silver Sponsor</h3>
      <div class="sponsor-logo sponsor-available">Position Available</div>
    </li>
    <li>
      <h3>Community Sponsor</h3>
      <div class="sponsor-logo sponsor-available">Position Available</div>
    </li>
  </ul>
  <ul class="sub-sponsors ragged-bottom">
    <li>
      <h3>Community Sponsor</h3>
      <div class="sponsor-logo sponsor-available">Position Available</div>
    </li>
    <li>
      <h3>Design Partner</h3>
      <%- partial("../../sponsors/pptsalon") %>
    </li>
    <li>
      <h3>In Association With</h3>
      <div class="sponsor-logo sponsor-available">SICSR</div>
    </li>
  </ul>
</article>