<article id="venue">
  <h2>We are back at the splendid SICSR campus for JSFoo</h2>
  <div class="separator" id="venue-outer"><div id="venue-map" rel="2012-pune"></div></div>
  <div class="info">
    Venue yet to be finalized.
  </div>
</article>