<div class="sponsor-logo">
  <a id="sponsor-cis" target="_blank" href="/sponsors/cis">Centre for Internet and Society</a>
</div>
<div id="sponsor-cis-writeup" class="sponsor-writeup hidden">
  <h3>The Centre for Internet and Society</h3>
  <div>
    CIS is a non-profit supporting research and advocacy around the internet and its role in society. 
    CIS provides HasGeek a project office, has hosted the JSFoo hacknight, and provides expertise and resources towards making the events more community focused.
  </div>
  <div>
    <a href="http://www.cis-india.org/">Visit the Centre for Internet and Society &rarr;</a>
  </div>
</div>
