<div class="sponsor-logo">
  <a id="sponsor-fusioncharts" target="_blank" href="/sponsors/fusioncharts">FusionCharts</a>
</div>
<div id="sponsor-fusioncharts-writeup" class="sponsor-writeup hidden">
  <h3>FusionCharts</h3>
  <h4>Stunning charts in Flash &amp; JavaScript (HTML5)</h4>
  <div>
    FusionCharts v3 helps you create <strong>animated &amp; interactive charts</strong> for
    web &amp; enterprise applications. It is the industry’s leading enterprise-grade
    charting component that functions seamlessly on <strong>PCs, Macs, iPads, iPhones</strong>
    and a majority of other mobile devices.
  </div>
  <div>
    FusionCharts leverages <strong>Flash and JavaScript (HTML5)</strong> to create stunning
    charts, and works with both <strong>XML and JSON data</strong>. It can be integrated with
    any server-side technology (ASP, ASP.NET, PHP, JSP, ColdFusion, Ruby on Rails etc.) and
    database. FusionCharts is <strong>used by 18,000 customers and 375,000 users</strong> in
    over 110 countries to add "wow" to their applications.
  </div>
  <div>
    FusionCharts is the video sponsor for Scaling PHP in the Cloud. The company recently
    opened their Bangalore office and are
    <a href="http://www.fusioncharts.com/careers/" target="_blank" class="sponsor-exit">looking
    for smart and passionate people</a> who want to be a part of a growing product company.
    <a href="http://www.fusioncharts.com/" target="_blank" class="sponsor-exit out">Visit FusionCharts &rarr;</a>
  </div>
</div>
