<div class="sponsor-logo">
  <a id="sponsor-mobstac" target="_blank" href="/sponsors/mobstac">MobStac</a>
</div>
<div id="sponsor-mobstac-writeup" class="sponsor-writeup hidden">
  <h3>MobStac</h3>
  <h4>Reach out to your mobile audience</h4>
  <div>
    MobStac helps publishers create mobile sites in a matter of minutes. Our mobile publishing platform is built from the ground-up for a world where mobile is first, so that publishers can reach out to their mobile audiences by delivering a delightful experience to their readers across a multitude of mobile devices. MobStac works seamlessly with popular CMSs such as WordPress, Joomla, and Drupal.
  </div>
  <div>
    MobStac currently powers the mobile sites of 1700 publishers in over 40 countries in 8 different languages. In India, <a href="http://m.thehindu.com/">The Hindu</a> is powered by MobStac.
  </div>
  <div>
    You can meet the MobStac team at the event — see you there!
  </div>
  <div>
    <a href="http://www.mobstac.com/">Visit MobStac &rarr;</a>
  </div>
</div>
