<div class="sponsor-logo">
  <a id="sponsor-novojuris" target="_blank" href="/sponsors/novojuris">NovoJuris</a>
</div>
<div id="sponsor-novojuris-writeup" class="sponsor-writeup hidden">
  <h3>NovoJuris</h3>
  <h4>Your legal team</h4>
  <div>
    NovoJuris are the most preferred legal counselors for startups and SME with a focused attention on
    technology companies. We specialize in technology, commercial and corporate law.
    We have worked with about 200 startups in the last couple of years and have been involved in all
    phases of growth right from ideation and set-up to successful exits.
  </div>
  <div>
    We offer a gamut of services in areas like funding, contracts, IP, mergers and amalgamation,
    due-diligence, corporate governance, corporate secretarial and legal compliance. In short, we
    act as an outsourced legal department for our clients.
  </div>
  <div>
    NovoJuris helped HasGeek incorporate, and can help you make sense of legal issues around
    web-based software.
    <a href="http://www.novojuris.com" target="_blank" class="sponsor-exit">Visit NovoJuris &rarr;</a> or 
    <a href="mailto:info@novojuris.com" target="_blank" class="sponsor-exit">get in touch (email)</a>
  </div>
</div>
