<div class="sponsor-logo">
  <a id="sponsor-pptsalon" target="_blank" href="/sponsors/pptsalon">PPTSalon</a>
</div>
<div id="sponsor-pptsalon-writeup" class="sponsor-writeup hidden">
  <h3>PPTSalon</h3>
  <h4>Well-groomed presentations</h4>
  <div>
    PPTSalon conceptualized and designed this website's visual appearance. The folks behind PPTSalon are based in Goa, in a gorgeous villa not far from the beach.
  </div>
  <div>
    <a href="http://www.pptsalon.com/">Visit PPTSalon &rarr;</a>
  </div>
</div>
