<div class="sponsor-logo">
  <a id="sponsor-talkto" target="_blank" href="/sponsors/talkto">Talk.to</a>
</div>
<div id="sponsor-talkto-writeup" class="sponsor-writeup hidden">
  <h3>Talk.to</h3>
  <h4>a Directi business</h4>
  <div>
    <a href="http://www.directi.com">Directi</a> is a 300+ million dollars group of Businesses, that develop innovative mass-market Web Products serving millions of Customers worldwide.
  </div>
  <div>
    Directi businesses rank amongst the fastest growing businesses worldwide in their corresponding industry segments. The combined Product Portfolio of various Directi businesses includes - Communication and Collaboration apps, Social Networking software, Instant messaging, Context Analysis Engines, Antispam and Antivirus Solutions, Large scale Billing and Provisioning platforms, Traffic Monetization Solutions, Online Advertising Solutions, DNS Management Products, Linux and Windows Server Management Software, Web Hosting Control Panels and much more.
  </div>
  <div>
    All our businesses have been profitable from inception. All assets of the group are organically funded without any external debt or borrowing.
  </div>
  <div>
    <a href="http://talk.to">Talk.to</a> provides communication, collaboration, social networking and content publishing software. Our software is used by our network of authorized partners to provide these services to users worldwide.
  </div>
  <div>
    <a href="http://www.directi.com">Visit Directi &rarr;</a><br/>
    <a href="http://talk.to">Visit Talk.to &rarr;</a>
  </div>
</div>
