<article id="about-event">

  <h2>jsFoo is India's first JavaScript conference,<br/>for geeks by geeks.</h2>
  <div class="separator">
    <dl class="dictionary">
      <dt><b>js</b> |j. s.|</dt>
      <dd>
        <p>noun<br/>
        an object-oriented computer programming language commonly used to create interactive effects within web browsers.</p>
        <p>Trivia: JavaScript is not Java</p>
      </dd>
      <dt><b>foo</b> |fo͞o|</dt>
      <dd>
        <p>noun<br/>
        first on the standard list of metasyntactic variables used in syntax examples. See also  -fu.
        </p>
      </dd>
      <dt><b>-fu</b> |fo͞o|</dt>
      <dd>
        <p>forming nouns chiefly from adjectives: suffix<br/>
        informal suffix indicating mastery of an art, derived from 'kung fu'. Commonly applied to technology skills.</p>
      </dd>
      <dt><b>jsfoo</b> |j. s. fo͞o|</dt>
      <dd>
        <p>noun<br/>
        mastery of the JavaScript computer programming language.</p>
      </dd>
    </dl>
  </div>
  <div class="info">
    <p>
      jsFoo is a one day conference on building full size apps in JavaScript. 
      Come over for a full day with the smartest geeks from across India who have figured it out and will show you how. 
      We have sessions covering the range from pure JavaScript apps in Node.js to real-time 
      streaming of data to building entirely in the client side with Backbone.js.
    </p>
    <p>
      This is an event for serious JavaScript programmers who want to learn from their peers.
    </p>
  </div>
</article>
