<article id="hacknight">
  <h2>Join us for a night of JavaScript hacking</h2>
  <div class="separator">
    <p>
      What's more fun than a day of talking tech? A night of hacking tech!
    </p>
    <p>
      We love what Yahoo!'s done with <a href="http://en.wikipedia.org/wiki/Hack_Day">Open Hack Day</a>,
      so we're going to have something like it alongside our events starting with jsFoo. jsFoo's hack night
      is on <strong>September 24</strong>, a week before the main event on <strong>October 1</strong>.
    </p>
    <p>
      The jsFoo hack night is open to all speakers and registered participants of jsFoo,
      but venue capacity is limited to 20 since this is a <em>beta</em> event.
      We want to be sure we aren't freezing or starving you. If we run out of food,
      we can make a midnight trip to Empire for 20 people. We can't do that for 200.
      To apply, email <a href="mailto:info@hasgeek.in">info@hasgeek.in</a>.
    </p>
    <p>
      <strong>Venue:</strong> <a href="http://www.cis-india.org/">The Centre for Internet and Society</a>, Domlur, Bangalore
    </p>
  </div>
</article>
