<article id="register">
  <h2>Register for <%= title %></h2>
  <div class="separator">
    <p>
      Registration is affordable and painless. Buy a t-shirt with your ticket: it'll help
      support us to keep making awesome geek events.
    </p>
  </div>
  <iframe id='register_ifrm' name='register_ifrm' src='http://doattend.com/embed_ticket/<%= eventData.doAttendId %>' scrolling='auto' width='90%' height='900'><a href = 'http://jsfoo.doattend.com'>Register here</a></iframe>
</article>
