<article id="schedule">
  <h2>Sessions by geeks for geeks, based on the proposals you submitted and voted for. 1<sup>st</sup> October 2011</h2>
  <div class="separator">
  </div>
  <div class="separator" id="schedule-table">
    <table>
                  <thead>
                    <tr>
                      <th class="time">Time</th>
                      <th class="col">Room 1</th>
                      <th class="col">Room 2</th>
                      <th class="col">Room 3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="break">
                      <td class="time">09:00 - 09:30</td>
                      <td></td>
                      <td>Registration and Sign-in</td>
                      <td></td>
                    </tr>
                    <tr class="break">
                      <td class="time">09:30 - 10:00</td>
                      <td></td>
                      <td>
                        <span class="session">Introductions</span>
                        <span class="speaker">HasGeek Crew</span>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">10:00 - 10:45</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/52-inside-javascript-objects">
                          <span class="session">Inside Javascript Objects</span>
                        </a>
                        <span class="speaker">Anand Chitipothu</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/34-a-slightly-advanced-introduction-to-node-js">
                          <span class="session">A slightly advanced introduction to node.js</span>
                        </a>
                        <span class="speaker">Sudar Muthu</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/39-client-side-mustache-js-based-rendering-in-js">
                          <span class="session">Client-side Mustache.js based rendering in JS</span>
                        </a>
                        <span class="speaker">Bhashkar Sharma</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="time">10:45 - 11:30</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/27-advanced-javascript-techniques">
                          <span class="session">Understanding JavaScript engines of various web browsers</span>
                        </a>
                        <span class="speaker">Parashuram Narasimhan</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/37-building-real-time-web-applications-introduction-to-websockets-socket-io">
                          <span class="session">Building real-time web applications... (Introduction to Websockets/Socket.IO)</span>
                        </a>
                        <span class="speaker">Aditya Y</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/23-single-page-apps-with-backbone-js">
                          <span class="session">Single Page Apps with Backbone JS</span>
                        </a>
                        <span class="speaker">Prateek Dayal</span>
                      </td>
                    </tr>
                    <tr class="break">
                      <td class="time">11:30 - 11:45</td>
                      <td></td>
                      <td>Break</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">11:45 - 12:30</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/78-best-practices-for-building-async-apps-with-javascript">
                          <span class="session">Best practices for building async apps with JavaScript (sponsored)</span>
                        </a>
                        <span class="speaker">Rajasekharan Vengalil</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/77-node-xmpp-bosh-a-long-polling-server-for-http-based-chat-clients-design-decisions-and-discoveries-specific-to-node-js">
                          <span class="session">Node-xmpp-bosh, a long polling server for http based chat clients: design decisions and discoveries specific to Node.js</span>
                        </a>
                        <span class="speaker">Vishnu Iyengar</span>
                      </td>
                      <td>
                          <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/46-designing-the-indexeddb-api">
                            <span class="session">Designing the IndexedDB API</span>
                          </a>
                          <span class="speaker">Parashuram Narasimhan</span>
                      </td>
                    </tr>
                    <tr class="break">
                      <td class="time">12:30 - 01:30</td>
                      <td></td>
                      <td>Lunch</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">01:30 - 02:15</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/45-cleaner-javascript-with-coffeescript">
                          <span class="session">Cleaner JavaScript with CoffeeScript</span>
                        </a>
                        <span class="speaker">Shreyas Satish</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/47-building-interactive-stock-charts-using-html-canvas">
                          <span class="session">Building Interactive Stock Charts Using HTML Canvas</span>
                        </a>
                        <span class="speaker">Abhijit Gadgil</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/29-javascript-gone-wild">
                          <span class="session">Javascript Gone Wild</span>
                        </a>
                        <span class="speaker">Akash Mahajan</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="time">02:15 - 03:00</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/27-advanced-javascript-techniques">
                          <span class="session">Advanced JavaScript Techniques</span>
                        </a>
                        <span class="speaker">Rajasekharan Vengalil</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/51-consuming-open-data-with-datajs">
                          <span class="session">Consuming Open Data with DataJS</span>
                        </a>
                        <span class="speaker">Lohith G N</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/57-effective-gaming-techniques-using-html5-single-multi-player-and-social">
                          <span class="session">Effective Gaming techniques using HTML5: single, multi-player and social</span>
                        </a>
                        <span class="speaker">Gaurav Vaish</span>
                      </td>
                    </tr>
                    <tr class="break">
                      <td class="time">03:00 - 03:15</td>
                      <td></td>
                      <td>Break</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">03:15 - 04:00</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/33-bits-bytes-and-blobs">
                          <span class="session">Bits, Bytes and Blobs</span>
                        </a>
                        <span class="speaker">Mrinal Wadhwa</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/62-node-js-patterns-and-how-we-build-activenode">
                          <span class="session">Node.js Patterns and How we build ActiveNode</span>
                        </a>
                        <span class="speaker">Sreekanth Vadagiri</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/44-bulding-great-mobile-web-apps-some-things-you-might-want-to-know">
                          <span class="session">Bulding great mobile web apps: Some things you might want to know</span>
                        </a>
                        <span class="speaker">Shwetank Dixit</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="time">04:00 - 04:45</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/50-a-primer-on-ecmascript-5">
                          <span class="session">A primer on ECMAScript 5</span>
                        </a>
                        <span class="speaker">Rajasekharan Vengalil</span>
                      </td>
                      <td>
                          <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/49-couchdb-and-couchapps">
                            <span class="session">CouchDB and CouchApps</span>
                          </a>
                          <span class="speaker">Aravind R S</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/48-errorception-com-painless-client-side-javascript-error-tracking">
                          <span class="session">errorception.com: Painless client-side JavaScript Error Tracking</span>
                        </a>
                        <span class="speaker">Rakesh Pai</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="time">04:45 - 05:30</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/79-building-real-world-apps-using-javascript">
                          <span class="session">Building real-world apps using JavaScript (sponsored)</span>
                        </a>
                        <span class="speaker">Ramaprasanna Chellamuthu</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/63-zero-to-app-with-jquery-mobile">
                          <span class="session">Zero to App with jQuery Mobile</span>
                        </a>
                        <span class="speaker">Anirudh Sanjeev</span>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.com/jsfoo/73-sproutcore-an-open-source-javascript-framework-to-build-blazing-fast-web-apps">
                          <span class="session">Sproutcore: an open-source Javascript framework to build blazing fast web apps</span>
                        </a>
                        <span class="speaker">Dhananjay Singh</span>
                      </td>
                    </tr>
                    <tr class="break">
                      <td class="time">05:30 - 06:00</td>
                      <td></td>
                      <td>Feedback Session</td>
                      <td></td>
                    </tr>
                    <tr class="break">
                      <td class="time">06:00 - 09:00</td>
                      <td></td>
                      <td>Venue Cleanup and Party for Volunteers</td>
                      <td></td>
                    </tr>
                  </tbody>
    </table>
  </div>
</article>
  