<article id="schedule">
  <h2>Some Awesome talks by Some Awesomest JavaScripters across the Country</h2>
  <div class="separator">
    <table id="schedule-table">
                  <thead>
                    <tr>
                      <th class="time">Time</th>
                      <th class="col">Main Hall</th>
                      <th class="col">Room 1</th>
                      <th class="col">Room 2</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="break">
                      <td class="time">09:00 - 09:30</td>
                      <td></td>
                      <td>Registration and Sign-in</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">09:30 - 10:00</td>
                      <td>
                        <span class="session">Introductions</span>
                        <span class="speaker">HasGeek Crew</span>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">10:00 - 10:45</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/12-continuous-deployment-at-flipkart">
                          <span class="session">Continuous Deployment at Flipkart</span>
                          <span class="speaker">Pankaj Kaushal, Flipkart</span>
                        </a>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">10:45 - 11:30</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/7-using-amazon-ec2-to-scale-your-web-application">
                          <span class="session">Using Amazon EC2 to Scale Your Web Application</span>
                          <span class="speaker">Ravi Pratap, MobStac</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/6-scaling-web-applications-using-memcache">
                          <span class="session">Scaling Web Applications Using Memcache</span>
                          <span class="speaker">Sudar Muthu, Yahoo!</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/5-zend-on-the-cloud">
                          <span class="session">Zend in the Cloud</span>
                          <span class="speaker">Dhaval Trivedi, Sourcebits</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="break">
                      <td class="time">11:30 - 11:45</td>
                      <td></td>
                      <td>Break</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">11:45 - 12:30</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/16-how-flipkart-scales-php-tips-tricks">
                          <span class="session">How Flipkart scales PHP — Tips and Tricks</span>
                          <span class="speaker">Siddhartha Reddy, Flipkart</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/14-introduction-to-membase">
                          <span class="session">Introduction to Membase</span>
                          <span class="speaker">Vinay Y S, Zynga</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/21-how-to-write-scalable-php-applications-on-windows-azure-cloud">
                          <span class="session">How to Write Scalable PHP Applications on the Windows Azure Cloud</span>
                          <span class="speaker">Ramaprasanna C, Microsoft</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="break">
                      <td class="time">12:30 - 01:30</td>
                      <td></td>
                      <td>Lunch</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">01:30 - 02:15</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/28-failure-is-an-option">
                          <span class="session">Failure is an Option</span>
                          <span class="speaker">Gopal Vijayaraghavan, Zynga</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/18-scaling-like-a-pro-with-gearman">
                          <span class="session">Scaling Like a Pro with Gearman!</span>
                          <span class="speaker">Amal Raghav</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/11-secure-your-site">
                          <span class="session">Secure Your Site</span>
                          <span class="speaker">Akash Mahajan</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="time">02:15 - 03:00</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/15-commonsense-linux-sysad-and-scaling-of-webapps">
                          <span class="session">Commonsense Linux Sysad and Scaling of Webapps</span>
                          <span class="speaker">Madhavprasad Pai, Red Hat</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/25-apache-thrift-one-stop-solution-for-cross-language-communication">
                          <span class="session">Apache Thrift: One Stop Solution for Cross Language Communication</span>
                          <span class="speaker">Piyush Goel, Capillary</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/13-building-your-own-virtual-cloud-environment">
                          <span class="session">Building Your Own Virtual Cloud Environment</span>
                          <span class="speaker">Gautham Pai, Jnaapti</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="break">
                      <td class="time">03:00 - 03:15</td>
                      <td></td>
                      <td>Break</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">03:15 - 04:00</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/4-php-frameworks-performance-compared-for-performance-and-ease-of-implementation">
                          <span class="session">PHP Frameworks Compared for Performance and Ease of Implementation</span>
                          <span class="speaker">Aditya Sengupta, StrApp</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/26-job-queue-web-is-more-than-request-and-response">
                          <span class="session">Job Queue: Web is More than Request and Response</span>
                          <span class="speaker">Abhinav Lal, Practo</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/32-monitoring-and-tracking-the-health-of-cloud-applications-with-amazon-cloudwatch">
                          <span class="session">Monitoring and Tracking the Health of Cloud Applications with Amazon CloudWatch</span>
                          <span class="speaker">Janakiram MSV, Amazon</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="time">04:00 - 04:45</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/36-how-yahoo-oscars-scaled-to-billion%2B-page-views-in-a-week">
                          <span class="session">How Yahoo! Oscars scaled to billion+ page views in a week</span>
                          <span class="speaker">Pradeep Banavara, Yahoo!</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/30-building-cloud-platforms-with-eucalyptus-open-source-software">
                          <span class="session">Building Cloud Platforms with Eucalyptus Open Source Software</span>
                          <span class="speaker">Pavan Yara, Eucalyptus</span>
                        </a>
                      </td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/1-deploying-with-fabric">
                          <span class="session">Deploying with Git and Fabric</span>
                          <span class="speaker">Nigel Babu, Capillary</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="time">04:45 - 05:30</td>
                      <td>
                        <a class="session-popup cboxElement" target="_blank" href="http://funnel.hasgeek.in/phpcloud/38-experiences-at-kosmix-with-cloud-computing">
                          <span class="session">Experiences at Kosmix with Cloud Computing</span>
                          <span class="speaker">Srinivasan Seshadri</span>
                        </a>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">05:30 - 06:00</td>
                      <td>Feedback Session</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="time">06:00 - 09:00</td>
                      <td>Venue Cleanup and Party for Volunteers</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
  </div>
</article>
  