<article id="sponsors">
  <ul id="title-sponsors">
    <li></li>
    <li></li>
  </ul>
  <ul id="community-sponsors">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</article>
