<article id="sponsors">
  <h2>Sponsor jsFoo for good karma and excellent developer outreach.
  <a href="/SponsorKit.pdf">It's easy</a>.</h2>
  <ul class="title-sponsors">
    <li></li>
    <li></li>
  </ul>
  <ul class="community-sponsors">
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class="community-sponsors">
    <li></li>
    <li></li>
    <li></li>
  </ul>
</article>
