<article id="sponsors">
  <h3>Title Sponsors</h3>
  <ul class="title-sponsors">
    <li></li>
    <li></li>
  </ul>
  <h3>Community Sponsors</h3>
  <ul class="community-sponsors">
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class="community-sponsors">
    <li></li>
    <li></li>
    <li></li>
  </ul>
</article>
