<article id="sponsors">
  <h2>Sponsor jsFoo for good karma and excellent developer outreach.
  <a href="/SponsorKit.pdf">It's easy</a></h2>
  <div class="separator">
    <p>
      Our generous sponsors made this event possible. Click on their logos to read
      why they are participating in this event. Explanations will pop-up beneath logos.
    </p>
  </div>
  <ul class="lead-sponsors ragged-top">
    <li>
      <h3>Platinum Sponsor</h3>
      <div class="sponsor-logo">
        <a id="sponsor-microsoft" target="_blank" href="/sponsors/microsoft">Microsoft</a>
      </div>
    </li>
    <li>
      <h3>Platinum Sponsor</h3>
      <div class="sponsor-logo sponsor-available">Position Available</div>
    </li>
  </ul>
  <ul class="sub-sponsors">
    <li>
      <h3>Silver Sponsor</h3>
      <div class="sponsor-logo">
        <a id="sponsor-talkto" target="_blank" href="/sponsors/talkto">Talk.to</a>
      </div>  
    </li>
    <li>
      <h3>Silver Sponsor</h3>
      <div class="sponsor-logo">
        <a id="sponsor-fusioncharts" target="_blank" href="/sponsors/fusioncharts">FusionCharts</a>
      </div>
    </li>
    <li>
      <h3>Community Sponsor</h3>
      <div class="sponsor-logo">
        <a id="sponsor-novojuris" target="_blank" href="/sponsors/novojuris">NovoJuris</a>
      </div>
    </li>
  </ul>
  <ul class="sub-sponsors ragged-bottom">
    <li><h3>Community Sponsor</h3></li>
    <li><h3>Community Sponsor</h3></li>
    <li><h3>Community Sponsor</h3></li>
  </ul>

  <div id="sponsor-microsoft-writeup" class="sponsor-writeup hidden">
    <h3>Microsoft MSDN</h3>
    <div>
      As the world moves towards a blend of web and client applications that work across devices and form factors, Microsoft has committed itself to help developers deliver immersive experiences that enable this blend between web and client. Towards this end, Microsoft is focusing on leveraging the power and capabilities of HTML5, CSS3 and JavaScript – along with .NET and Silverlight – to enable developers to build faster, richer, trusted and standards based interoperable applications.
    </div>
    <p>
      <b>Fast &amp; Interoperable Sites with HTML5</b>
      HTML5 is the next major update to the W3C HTML specification providing a standard structure for presenting content on the web. The W3C HTML5 specification adds new features like support for advanced graphics, multimedia support and new APIs to make it easier for developers to create rich web based user experiences. 
      <a href="http://msdn.microsoft.com/en-us/ie/aa740476" target="_blank" class="sponsor-exit out">Learn More &rarr;</a>
    </p>
    <p>
      <b>Standards based JavaScript at Native Speeds</b>
      ECMAScript5 is the latest revision of the standard that JavaScript is based on and Internet Explorer 9 features a fast implementation that runs script as native code. This opens up a whole slew of scenarios for web applications, that simply were not feasible earlier. 
      <a href="http://msdn.microsoft.com/en-us/ie/hh410105.aspx" target="_blank" class="sponsor-exit out">Learn More &rarr;</a>
    </p>
    <p>
      <b>Simplifying Site Design with CSS3</b>
      By using Cascading Style Sheets (CSS), designers and developers can apply presentation semantics to their HTML pages. Internet Explorer 9 continues to be fully compliant with the CSS2.1 specifications, and enhances CSS support and adds support for many components of CSS3. 
      <a href="http://msdn.microsoft.com/en-us/ie/gg593671" target="_blank" class="sponsor-exit out">Learn More &rarr;</a>
    </p>
  </div>
  <div id="sponsor-talkto-writeup" class="sponsor-writeup hidden">
    <h3>Talk.to</h3>
    <h4>a Directi business</h4>
    <p>Description coming up...</p>
  </div>
  <div id="sponsor-fusioncharts-writeup" class="sponsor-writeup hidden">
    <h3>FusionCharts</h3>
    <h4>Stunning charts in Flash &amp; JavaScript (HTML5)</h4>
    <p>
      FusionCharts v3 helps you create <strong>animated &amp; interactive charts</strong> for
      web &amp; enterprise applications. It is the industry’s leading enterprise-grade
      charting component that functions seamlessly on <strong>PCs, Macs, iPads, iPhones</strong>
      and a majority of other mobile devices.
    </p>
    <p>
      FusionCharts leverages <strong>Flash and JavaScript (HTML5)</strong> to create stunning
      charts, and works with both <strong>XML and JSON data</strong>. It can be integrated with
      any server-side technology (ASP, ASP.NET, PHP, JSP, ColdFusion, Ruby on Rails etc.) and
      database. FusionCharts is <strong>used by 18,000 customers and 375,000 users</strong> in
      over 110 countries to add "wow" to their applications.
    </p>
    <p>
      FusionCharts is the video sponsor for Scaling PHP in the Cloud. The company recently
      opened their Bangalore office and are
      <a href="http://www.fusioncharts.com/careers/" target="_blank" class="sponsor-exit">looking
      for smart and passionate people</a> who want to be a part of a growing product company.
      <a href="http://www.fusioncharts.com/" target="_blank" class="sponsor-exit out">Visit FusionCharts &rarr;</a>
    </p>
  </div>
  <div id="sponsor-novojuris-writeup" class="sponsor-writeup hidden">
      <h3>NovoJuris</h3>
      <h4>Your legal team</h4>
      <p>
        NovoJuris are the most preferred legal counselors for startups and SME with a focused attention on
        technology companies. We specialize in technology, commercial and corporate law.
        We have worked with about 200 startups in the last couple of years and have been involved in all
        phases of growth right from ideation and set-up to successful exits.
      </p>
      <p>
        We offer a gamut of services in areas like funding, contracts, IP, mergers and amalgamation,
        due-diligence, corporate governance, corporate secretarial and legal compliance. In short, we
        act as an outsourced legal department for our clients.
      </p>
      <p>
        NovoJuris helped HasGeek incorporate, and can help you make sense of legal issues around
        web-based software.
        <a href="http://www.novojuris.com" target="_blank" class="sponsor-exit">Visit NovoJuris &rarr;</a> or 
        <a href="mailto:info@novojuris.com" target="_blank" class="sponsor-exit">get in touch (email)</a>
      </p>
  </div>

</article>
