<article id="sponsors">
  <h2>Sponsor jsFoo for good karma and excellent developer outreach.
  <a href="/SponsorKit.pdf">It's easy</a></h2>
  <div class="separator">
    <p>
      Our generous sponsors made this event possible. Click on their logos to read
      why they are participating in this event. Explanations will pop-up over logos.
    </p>
  </div>
  <ul class="lead-sponsors ragged-top">
    <li>
      <h3>Platinum Sponsor</h3>
      <div class="sponsor-logo">
        <a id="sponsor-microsoft" target="_blank" href="/sponsors/microsoft">Microsoft</a>
      </div>
    </li>
    <li>
      <h3>Platinum Sponsor</h3>
      <div class="sponsor-logo sponsor-available">Position Available</div>
    </li>
  </ul>
  <ul class="sub-sponsors">
    <li>
      <h3>Silver Sponsor</h3>
      <div class="sponsor-logo">
        <a id="sponsor-talkto" target="_blank" href="/sponsors/talkto">Talk.to</a>
      </div>  
    </li>
    <li>
      <h3>Silver Sponsor</h3>
      <div class="sponsor-logo">
        <a id="sponsor-fusioncharts" target="_blank" href="/sponsors/fusioncharts">FusionCharts</a>
      </div>
    </li>
    <li>
      <h3>Community Sponsor</h3>
      <div class="sponsor-logo">
        <a id="sponsor-novojuris" target="_blank" href="/sponsors/novojuris">NovoJuris</a>
      </div>
    </li>
  </ul>
  <ul class="sub-sponsors ragged-bottom">
    <li>
      <h3>Community Sponsor</h3>
      <div class="sponsor-logo">
        <a id="sponsor-mobstac" target="_blank" href="/sponsors/mobstac">MobStac</a>
      </div>
    </li>
    <li>
      <h3>Design Partner</h3>
      <div class="sponsor-logo">
        <a id="sponsor-pptsalon" target="_blank" href="/sponsors/pptsalon">PPTSalon</a>
      </div>
    </li>
    <li>
      <h3>Special Thanks</h3>
      <div class="sponsor-logo">
        <a id="sponsor-cis" target="_blank" href="/sponsors/cis">Centre for Internet and Society</a>
      </div>
    </li>
  </ul>

  <div id="sponsor-microsoft-writeup" class="sponsor-writeup hidden">
    <h3>Microsoft MSDN</h3>
    <div>
      As the world moves towards a blend of web and client applications that work across devices and form factors, Microsoft has committed itself to help developers deliver immersive experiences that enable this blend between web and client. Towards this end, Microsoft is focusing on leveraging the power and capabilities of HTML5, CSS3 and JavaScript – along with .NET and Silverlight – to enable developers to build faster, richer, trusted and standards based interoperable applications.
    </div>
    <p>
      <b>Fast &amp; Interoperable Sites with HTML5</b>
      HTML5 is the next major update to the W3C HTML specification providing a standard structure for presenting content on the web. The W3C HTML5 specification adds new features like support for advanced graphics, multimedia support and new APIs to make it easier for developers to create rich web based user experiences. 
      <a href="http://msdn.microsoft.com/en-us/ie/aa740476" target="_blank" class="sponsor-exit out">Learn More &rarr;</a>
    </p>
    <p>
      <b>Standards based JavaScript at Native Speeds</b>
      ECMAScript5 is the latest revision of the standard that JavaScript is based on and Internet Explorer 9 features a fast implementation that runs script as native code. This opens up a whole slew of scenarios for web applications, that simply were not feasible earlier. 
      <a href="http://msdn.microsoft.com/en-us/ie/hh410105.aspx" target="_blank" class="sponsor-exit out">Learn More &rarr;</a>
    </p>
    <p>
      <b>Simplifying Site Design with CSS3</b>
      By using Cascading Style Sheets (CSS), designers and developers can apply presentation semantics to their HTML pages. Internet Explorer 9 continues to be fully compliant with the CSS2.1 specifications, and enhances CSS support and adds support for many components of CSS3. 
      <a href="http://msdn.microsoft.com/en-us/ie/gg593671" target="_blank" class="sponsor-exit out">Learn More &rarr;</a>
    </p>
  </div>
  <div id="sponsor-talkto-writeup" class="sponsor-writeup hidden">
    <h3>Talk.to</h3>
    <h4>a Directi business</h4>
    <div>
      <a href="http://www.directi.com">Directi</a> is a 300+ million dollars group of Businesses, that develop innovative mass-market Web Products serving millions of Customers worldwide.
    </div>
    <div>
      Directi businesses rank amongst the fastest growing businesses worldwide in their corresponding industry segments. The combined Product Portfolio of various Directi businesses includes - Communication and Collaboration apps, Social Networking software, Instant messaging, Context Analysis Engines, Antispam and Antivirus Solutions, Large scale Billing and Provisioning platforms, Traffic Monetization Solutions, Online Advertising Solutions, DNS Management Products, Linux and Windows Server Management Software, Web Hosting Control Panels and much more.
    </div>
    <div>
      All our businesses have been profitable from inception. All assets of the group are organically funded without any external debt or borrowing.
    </div>
    <div>
      <a href="http://talk.to">Talk.to</a> provides communication, collaboration, social networking and content publishing software. Our software is used by our network of authorized partners to provide these services to users worldwide.
    </div>
    <div>
      <a href="http://www.directi.com">Visit Directi &rarr;</a><br/>
      <a href="http://talk.to">Visit Talk.to &rarr;</a>
    </div>
    
  </div>
  <div id="sponsor-fusioncharts-writeup" class="sponsor-writeup hidden">
    <h3>FusionCharts</h3>
    <h4>Stunning charts in Flash &amp; JavaScript (HTML5)</h4>
    <div>
      FusionCharts v3 helps you create <strong>animated &amp; interactive charts</strong> for
      web &amp; enterprise applications. It is the industry’s leading enterprise-grade
      charting component that functions seamlessly on <strong>PCs, Macs, iPads, iPhones</strong>
      and a majority of other mobile devices.
    </div>
    <div>
      FusionCharts leverages <strong>Flash and JavaScript (HTML5)</strong> to create stunning
      charts, and works with both <strong>XML and JSON data</strong>. It can be integrated with
      any server-side technology (ASP, ASP.NET, PHP, JSP, ColdFusion, Ruby on Rails etc.) and
      database. FusionCharts is <strong>used by 18,000 customers and 375,000 users</strong> in
      over 110 countries to add "wow" to their applications.
    </div>
    <div>
      FusionCharts is the video sponsor for Scaling PHP in the Cloud. The company recently
      opened their Bangalore office and are
      <a href="http://www.fusioncharts.com/careers/" target="_blank" class="sponsor-exit">looking
      for smart and passionate people</a> who want to be a part of a growing product company.
      <a href="http://www.fusioncharts.com/" target="_blank" class="sponsor-exit out">Visit FusionCharts &rarr;</a>
    </div>
  </div>
  <div id="sponsor-novojuris-writeup" class="sponsor-writeup hidden">
      <h3>NovoJuris</h3>
      <h4>Your legal team</h4>
      <div>
        NovoJuris are the most preferred legal counselors for startups and SME with a focused attention on
        technology companies. We specialize in technology, commercial and corporate law.
        We have worked with about 200 startups in the last couple of years and have been involved in all
        phases of growth right from ideation and set-up to successful exits.
      </div>
      <div>
        We offer a gamut of services in areas like funding, contracts, IP, mergers and amalgamation,
        due-diligence, corporate governance, corporate secretarial and legal compliance. In short, we
        act as an outsourced legal department for our clients.
      </div>
      <div>
        NovoJuris helped HasGeek incorporate, and can help you make sense of legal issues around
        web-based software.
        <a href="http://www.novojuris.com" target="_blank" class="sponsor-exit">Visit NovoJuris &rarr;</a> or 
        <a href="mailto:info@novojuris.com" target="_blank" class="sponsor-exit">get in touch (email)</a>
      </div>
  </div>
  <div id="sponsor-mobstac-writeup" class="sponsor-writeup hidden">
    <h3>MobStac</h3>
    <h4>Reach out to your mobile audience</h4>
    <div>
      MobStac helps publishers create mobile sites in a matter of minutes. Our mobile publishing platform is built from the ground-up for a world where mobile is first, so that publishers can reach out to their mobile audiences by delivering a delightful experience to their readers across a multitude of mobile devices. MobStac works seamlessly with popular CMSs such as WordPress, Joomla, and Drupal.
    </div>
    <div>
      MobStac currently powers the mobile sites of 1700 publishers in over 40 countries in 8 different languages. In India, <a href="http://m.thehindu.com/">The Hindu</a> is powered by MobStac.
    </div>
    <div>
      You can meet the MobStac team at the event — see you there!
    </div>
    <div>
      <a href="http://www.mobstac.com/">Visit MobStac &rarr;</a>
    </div>
  </div>
  <div id="sponsor-pptsalon-writeup" class="sponsor-writeup hidden">
    <h3>PPTSalon</h3>
    <h4>Well-groomed presentations</h4>
    <div>
      PPTSalon conceptualized and designed this website's visual appearance. The folks behind PPTSalon are based in Goa, in a gorgeous villa not far from the beach.
    </div>
    <div>
      <a href="http://www.pptsalon.com/">Visit PPTSalon &rarr;</a>
    </div>
  </div>
  <div id="sponsor-cis-writeup" class="sponsor-writeup hidden">
    <h3>The Centre for Internet and Society</h3>
    <div>
      CIS is a non-profit supporting research and advocacy around the internet and its role in society. CIS provides HasGeek a project office, has hosted the jsFoo hacknight, and provides expertise and resources towards making the events more community focused.
    </div>
    <div>
      <a href="http://www.cis-india.org/">Visit the Centre for Internet and Society &rarr;</a>
    </div>
  </div>

</article>
