@import 'nib/gradients'

transition-mixin()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

transition-transform-mixin()
  -webkit-transition -webkit-transform arguments
  -moz-transition -moz-transform arguments
  -o-transition -o-transform arguments
  transition transform arguments

transition-position-mixin()
  -webkit-transition left arguments
  -moz-transition left arguments
  -o-transition left arguments
  transition left arguments

html, body
  width 100%
  height 100%
  overflow hidden
  margin 0
  padding 0
  background-image url(/img/bg.png)

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color #222
  min-width 900px
  transition-mixin background-position 0.5s ease-in-out

a, a:visited, a:active
  color #df5e0e
  text-decoration none




// Coming soon page
.notyet  
  text-align center
  
  h1
    font-size 86px
    color #444
    text-shadow 1px 1px 0 #BBB, 2px 2px 0 #999, 3px 3px 0 #888, 4px 3px 1px #888, 5px 3px 2px #888
    font-family 'Alice', serif
    width 400px
    margin 50px auto 20px
  
  p
    line-height 30px
    margin 20px auto
    font-size 12px
    color #444


// Navigation
header
  z-index 16
  position fixed
  top 0
  left 0
  right 0
  height 110px
  min-width 900px
  background-color #261800
  text-align center
  vertical-align middle
  border-bottom 1px solid #100
  box-shadow 5px 0 10px rgba(10,20,0,0.8)
  
  nav
    vertical-align top
    margin-top 80px
    display inline-block

    a
      margin-top 40px
      color #fff
      text-transform uppercase
      text-decoration none
      font-family 'Open Sans Condensed', sans-serif
      font-size 16px
      padding 0 8px 0 0      
      
      &:visited, &:active
        color #fff
      &:first-of-type
        text-shadow  2px 0 0 #000
      &:last-of-type
        text-shadow -2px 0 0 #000
      &:not(:last-of-type):after
        content: '|'
        padding-left 8px
        opacity 0.2
      &:after
        text-shadow 0px none
      &:hover
        color #fa2
        &:after
          color #fff
        
  a.logo
    display inline-block
    height 90px
    width 380px
    vertical-align top

    img
      z-index 32
      border 0 none
      padding: 0 25px
  
  #pptsalon
    z-index 30
    position fixed
    bottom 50px
    right 0px

    a 
      text-indent -50000px
      font-size 0px
      background-image url('/img/sprite.png')
      background-repeat no-repeat
      background-position 0 -320px
      width 36px
      height 38px
      display block
      transition-mixin width 0.2s ease-out

    &:hover
      a
        width 140px
        background-position 0 -360px

  a.register
    position absolute
    top 105px
    right 20px
    padding 0 35px
    opacity 0.6
    z-index 10
    transition-mixin opacity 0.3s ease-in-out, top 0.3s ease-out
    
    
    strong
      z-index 10
      text-indent -50000px
      background-image url('/img/sprite.png')
      background-repeat no-repeat
      display block
      height 150px
      width 90px

    &:hover
      background-image url('/img/sprite.png')
      background-repeat no-repeat
      background-position 0 -160px
      opacity 1.0
      top 110px

body.register a.register
  top -150px

body.about-event a[href="/about-event"],
body.about-hasgeek a[href="/about-hasgeek"],
body.schedule a[href="/schedule"],
body.home a[href="/home"],
body.venue a[href="/venue"],
body.videos a[href="/videos"],
body.sponsors a[href="/sponsors"],
body.credits a[href="/credits"],
body.register a[href="/register"]
  cursor default
  color #F84
  pointer-events none
  &:hover
    text-decoration none
    text-shadow none



// Grid Page

#outer
  z-index 8
  position fixed
  top 110px
  &.animated
    transition-mixin left 0.5s ease-in-out

section.panel
  position absolute
  top 2px
  z-index 4
  overflow auto
  background-position left 0px
  background-repeat no-repeat
  margin-right 5px
  
  &::-webkit-scrollbar
    width 7px
    height 7px
  &::-webkit-scrollbar-thumb
    margin 10px 0
    background rgba(200,160,100,0.8)
    border 1px solid rgba(0,0,0,0.1)
    
  .disable
    display none

  article
    width 900px
    overflow auto
    margin 0 auto
    margin-top 10px
    padding-bottom 40px

// Pages

#home
  background-image url('/img/temple.jpg')
  background-repeat no-repeat
  background-position top center
  min-height 540px
  text-indent -50000px
  font-size 0px

#videos, #credits, #register, #sponsors
  margin 50px auto 20px
  text-align center
  background-repeat no-repeat
  background-position top center
  overflow visible
  h2
    margin 0 auto
    text-align center
    text-transform uppercase
    font-family 'Open Sans Condensed', sans-serif
    background-image url('/img/separator.png')
    background-repeat no-repeat
    background-position bottom center
    padding-bottom 40px
  iframe
    overflow-y scroll

#about-event, #about-hasgeek, #venue, #schedule
  margin 0 auto
  background-repeat no-repeat
  background-position top center
  h2
    margin 0 auto
    text-align center
    text-transform uppercase
    font-family 'Open Sans Condensed', sans-serif
  
    &:after
      background-image url('/img/separator.png')
      background-repeat no-repeat
      background-position top center
      padding 20px
      content ""
      display block
      position absolute
      left 0
      right 0
      margin-top 30px
    
  & > div  
    width 700px
    margin 0 auto

    &.two-column
      -moz-column-count 2
      -webkit-column-count 2
      -o-column-count 2
      column-count 2
      -moz-column-gap 2em
      -webkit-column-gap 2em
      -o-column-gap 2em
      column-gap 2em
    p
      margin 0
      text-align justify
      line-height 20px
      padding-bottom 10px
      //font-style italic
      font-family Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif
      b
        font-style normal
        font-size 300%
      
#about-event
  background-image url('/img/AboutEvent.jpg')
  //font-size 16px
  h2
    width 450px
    margin-top 220px
    padding-bottom 70px
    
  dl.dictionary  
    font-family georgia
    border 1px solid #888
    padding 10px 20px 10px 30px
    border-radius 5px
    background-color rgba(255, 255, 255, 0.2)
    width 600px
    margin 0 auto
    margin-bottom 20px
    dt
      font-size 16px
      color #444
      b
        font-size 22px
        color #111
        font-weight normal
    dd
      font-size 14px
      margin 5px 0 10px 0
      i
        display block
        margin-left 5px

#about-hasgeek
  background-image url('/img/AboutHasGeek.jpg')
  h2
    margin-top 140px
    padding-bottom 180px
    padding-left 250px
    width 200px
    &:after
      margin-top 120px

#venue
  background-image url('/img/Venue.jpg')
  h2
    width 240px
    margin-top 100px
    padding-bottom 100px
    padding-right 240px
    &:after
      margin-top 60px

  #venue-outer, #venue-map
    width 760px
    height 320px
    border-radius 10px

  #venue-outer
    padding 3px
    background-color #eda
    border 1px solid #888
    box-shadow 0 0 10px #999
    margin-bottom 10px

  #venue-map
    position relative
    
    & > div > .gmnoprint:last-of-type
      display none
    
  
#schedule
  background-image url('/img/Proposals.jpg')
  h2
    width 240px
    margin-top 110px
    padding-bottom 140px
    padding-right 420px
    font-size 20px
    &:after
      margin-top 100px
    
  div
    border 1px solid #fb8
    border-radius 6px
    background rgba(255, 255, 255, 0.4)
    box-shadow 0 2px 12px #752
  table
    width 100%
    thead
        th
          padding-top 0.75em
          border-bottom 1px solid #fb8
    tbody
      tr td
        height 3em
        font-size 12px
        border-bottom 1px solid #fb8
        a
          color inherit

      tr:last-of-type td
          border-bottom 0 none
      tr:nth-of-type(even)
        background rgba(255, 255, 255, 0.1)
      tr.break td
        height 1em
        color #999
    th
      text-align left
    th, td
      padding 0.5em 1em
      vertical-align middle
      border-left 1px solid #fb8
      &:first-child, &:first-child
        border-left none
      &.col
        width 28%
    .session
      display block
    .speaker
      display block
      font-style italic
    .speaker:before
      content "— "
    .break
      text-align center
      font-style italic
    .time
      text-align center
      font-weight bold
      font-style normal


#sponsors
  ul
    margin 0 auto
    padding 0
    display block
    li
      margin 0 auto
      padding 0
      background-image url('/img/scroll.png')
      background-repeat no-repeat
      display inline-block
      
ul.title-sponsors
  width 805px

  li
    background-positon 0 0
    width 400px
    height 250px
  
  &:after
    background-image url('/img/separator.png')
    background-repeat no-repeat
    background-position top center
    padding 20px
    content ""
    display block

ul.community-sponsors
  width 760px
  li
    background-position 0 -265px
    width 250px
    height 170px


// Footer
footer
  z-index 16
  position fixed
  bottom 0
  left 0
  right 0
  height 5px
  div
    height 40px
    margin-top -30px
    background-image url('/img/footerbg.png')
    background-repeat repeat-x
    &.l1,&.l3
      background-position 0 0
    &.l2
      background-position -20px 0

// IRC stuff

#topic
  height 20px
  overflow hidden

ol
  width 150px
  float  left
  list-style-type  none
  line-height  24px
  margin  0
  margin-right 10px
  padding  10px
  border  1px solid #EDC
  border-radius  3px
  background-color #FEFEF4
  overflow auto
  
#log
  padding 10px
  border  1px solid #FDD
  border-radius 3px
  overflow auto

  p
    margin -1px 0 0 0
    padding 4px 6px
    line-height 22px
    border 1px solid #F5F4F0

    span
      font-weight normal
      color #666

    &:nth-child(2n+1)
      background-color #F6F7F4

    &>u:after
      content ':'
      padding 0 3px
      font-weight normal
  
  time
    width 100px
    display inline-block
    text-align left
    color #888

  time,time:before,time:after
    font-size 12px
    font-family verdana
    color #888

  time:before
    content '['
    padding-right 2px

  time:after
    content ']'
    padding-left 2px
  
u
  text-decoration none
  font-weight bold
  color #444
  padding-right 5px
  display inline-block
  min-width 80px
  text-shadow 0 0 2px #fff




// Scrollbars

::-webkit-scrollbar
  width 6px
  height 6px

::-webkit-scrollbar-thumb
  background #EEE
  border-radius 10px
  opacity 0.2
  border 2px solid #FFF
  cursor pointer
  box-shadow none

ol:hover::-webkit-scrollbar-thumb, div:hover::-webkit-scrollbar-thumb
  opacity 1.0
  border 1px solid rgba(140, 140, 140, .5)
  background-color rgba(155, 155, 155, .5)

ol::-webkit-scrollbar-thumb:active, div::-webkit-scrollbar-thumb:active
  border 1px solid rgba(140, 140, 140, 1)
  background-color rgba(155, 155, 155, 1)
