//@import 'nib/gradients'

transform-mixin()
  -moz-transform arguments
  -webkit-transform arguments
  -o-transform arguments
  -ms-transform arguments
  transform arguments

transition-mixin()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

transition-transform-mixin()
  -webkit-transition -webkit-transform arguments
  -moz-transition -moz-transform arguments
  -o-transition -o-transform arguments
  transition transform arguments

transition-position-mixin()
  -webkit-transition left arguments
  -moz-transition left arguments
  -o-transition left arguments
  transition left arguments

animation-mixin()
  -webkit-animation arguments
  -moz-animation    arguments
  -ms-animation     arguments

column-count()
  -moz-column-count arguments
  -webkit-column-count arguments
  -o-column-count arguments
  column-count arguments

column-gap()
  -moz-column-gap arguments
  -webkit-column-gap arguments
  -o-column-gap arguments
  column-gap arguments

@keyframes swing 
  0%
    -webkit-transform translate(0,2px)
  50%
    -webkit-transform translate(0,-2px)
  100%
    -webkit-transform translate(0,2px)


html, body
  width 100%
  height 100%
  overflow hidden
  margin 0
  padding 0
  background-image url(/img/bg.png)

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color #222
  min-width 900px
  transition-mixin background-position 0.5s ease-in-out

a, a:visited, a:active
  color #df5e0e
  text-decoration none
a:hover
  text-decoration underline
header a:hover
  text-decoration none
div.separator
  width 700px
  margin-left auto
  margin-right auto

.georgia
  font-family Georgia, "Bitstream Vera Serif", "Liberation Serif", serif

// Coming soon page
.notyet
  text-align center
  
  h1
    font-size 86px
    color #222
    text-shadow 1px 1px 0 #BBB, 2px 2px 0 #999, 3px 3px 0 #888, 4px 3px 1px #888, 5px 3px 2px #888
    font-family 'Alice', serif
    width 400px
    margin 50px auto 20px
  
  p
    line-height 30px
    margin 20px auto
    font-size 12px
    color #222

// Overlay
#overlay, #modal
  position fixed
  display none
  top 0
  left 0
  right 0

#overlay  
  z-index 99
  margin 0
  padding 0
  overflow hidden
  background rgba(0,0,0,0.7)
  background -webkit-radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) 55%, rgba(0, 0, 0, 1.0))
  transition-mixin opacity 0.4s linear
  opacity 0.4
  &.faded
    opacity 1.0

#modal
  z-index 102
  margin 60px auto 0 auto
  min-height 100px
  max-width 800px
  text-align center

  -webkit-perspective 400px
  -webkit-perspective-origin 50% 25%

  #inner 
    font-size 110%
    text-align left
    border 1px solid #666
    background-color #fff
    border-radius 6px
    padding 10px 20px
    box-shadow 0 5px 40px rgba(0,0,0,0.7)
    overflow auto
    transition-mixin all 0.3s ease-in-out
    -webkit-transform-style preserve-3d
    -webkit-transform translate3d(0, -50%, 0) rotateX(90deg) translate3d(0, -50%, 0) scale(0.5)
    opacity 0.4
  &.faded
    #inner
      opacity 1.0
      -webkit-transform none
  h3
    font-size 24px
    text-shadow 0 1px 2px #888
    font-weight normal
    border-bottom 1px dotted #DDD
    padding-bottom 4px
    margin 10px 0
  h4
    font-size 14px
    color #555
    font-style italic
    font-weight normal
    text-shadow 0 1px 2px #ddd
    margin-top 0
  div
    margin-bottom 20px
  p
    width 30%
    float left
    color #555
    margin-right 35px
    &:last-of-type
      margin-right 0
      float right
      &:after
        clear both
    a.out,b
      display block
    b
      margin-bottom 10px
      font-size 1.1em
    b, strong
      color #420
    a.out
      margin-top 10px

// Navigation
header
  z-index 16
  position fixed
  top 0
  left 0
  right 0
  height 100px
  min-width 900px
  background-color #261800
  text-align center
  vertical-align middle
  border-bottom 1px solid #100
  box-shadow 0 0 25px 5px rgba(10,20,10,0.40)
  
  nav
    vertical-align top
    margin-top 70px
    display inline-block

    a
      color #fff
      text-transform uppercase
      text-decoration none
      font-family 'Open Sans Condensed', sans-serif
      font-size 16px
      padding 0 8px 0 0
      text-shadow 0 0 2px #777

      &:visited, &:active
        color #fff
      &:first-of-type
        //text-shadow  2px 0 0 #000
      &:last-of-type
        //text-shadow -2px 0 0 #000
      &:not(:last-of-type):after
        content: '|'
        padding-left 8px
        opacity 0.2
      &:after
        //text-shadow 0px none
      &:hover
        color #fa2
        &:after
          color #fff
        
  a.logo
    display inline-block
    height 90px
    width 380px
    vertical-align top

    img
      z-index 32
      border 0 none
      padding 10px 25px 0
  
  #pptsalon
    z-index 30
    position fixed
    bottom 50px
    right 0px

    a 
      text-indent -50000px
      font-size 0px
      background-image url('/img/sprite.png')
      background-repeat no-repeat
      background-position 0 -320px
      width 36px
      height 38px
      display block
      transition-mixin width 0.2s ease-out

    &:hover
      a
        width 140px
        background-position 0 -360px

  a.register
    position absolute
    top 95px
    right 20px
    padding 0 35px
    opacity 0.6
    z-index 10
    transition-mixin opacity 0.3s ease-in-out, top 0.3s ease-out
    
    -webkit-transform-origin center top
    animation-mixin swing 3s infinite
    
    strong
      z-index 10
      text-indent -50000px
      background-image url('/img/sprite.png')
      background-repeat no-repeat
      display block
      height 150px
      width 90px

    &:hover
      background-image url('/img/sprite.png')
      background-repeat no-repeat
      background-position 0 -160px
      opacity 1.0
      top 100px
      cursor pointer
      animation-mixin none

body.register a.register
  top -150px

body.about-event a[href="/about-event"],
body.about-hasgeek a[href="/about-hasgeek"],
body.schedule a[href="/schedule"],
body.home a[href="/"],
body.venue a[href="/venue"],
body.videos a[href="/videos"],
body.sponsors a[href="/sponsors"],
body.credits a[href="/credits"],
body.register a[href="/register"],
body.hacknight a[href="/hacknight"]
  cursor default
  color #F84
  pointer-events none
  &:hover
    text-decoration none
    text-shadow none



// Grid Page

#outer
  z-index 8
  position fixed
  top 100px
  &.animated
    transition-mixin left 0.5s ease-in-out

section.panel
  position absolute
  top 2px
  z-index 4
  overflow auto
  background-position left 0px
  background-repeat no-repeat
  margin-right 5px
  
  &::-webkit-scrollbar
    width 7px
    height 7px
  &::-webkit-scrollbar-thumb
    margin 10px 0
    background rgba(200,160,100,0.8)
    border 1px solid rgba(0,0,0,0.1)
    
  .disable
    display none

  article
    width 900px
    overflow auto
    margin 0 auto
    margin-top 10px
    padding-bottom 60px
    div.info
      margin-top 30px
      padding 20px
      background-color rgba(0, 0, 0, 0.1)
      border-radius 4px
      border 1px solid rgba(0, 0, 0, 0.2)
      font-size 15px
      a, a:visited, a:active
        color #C2470A
    h2
      margin 0 auto
      text-align center
      text-transform uppercase
      font-family 'Open Sans Condensed', sans-serif
      font-weight normal


// Pages

#home
  background-image url('/img/temple.jpg')
  background-repeat no-repeat
  background-position top center
  min-height 540px
  //text-indent -50000px
  //font-size 0px
  h2, h3
    margin-left 30px
    color #000
    font-family 'Open Sans Condensed',sans-serif
  h2
    font-weight bold
    margin-top 135px
    font-size 26px
  h3
    font-weight normal
    margin-top -5px
    font-size 18px
    text-align center

#videos, #credits, #register, #sponsors, #hacknight
  margin 50px auto 20px
  text-align center
  background-repeat no-repeat
  background-position top center
  overflow visible
  h2
    background-image url('/img/separator.png')
    background-repeat no-repeat
    background-position bottom center
    padding-bottom 40px
  p
    margin 0
    text-align justify
    line-height 20px
    padding-bottom 10px
    //font-style italic
    font-family Georgia, Cambria, "Times New Roman", serif
  iframe
    overflow-y scroll

#about-event, #about-hasgeek, #venue, #schedule
  margin 0 auto
  background-repeat no-repeat
  background-position top center
  h2:after
    background-image url('/img/separator.png')
    background-repeat no-repeat
    background-position top center
    padding 20px
    content " "
    display block
    position absolute
    left 0
    right 0
    margin-top 30px
    
  & > div  
    width 700px
    margin-left auto
    margin-right auto
    box-sizing border-box

    &.two-column
      -moz-column-count 2
      -webkit-column-count 2
      -o-column-count 2
      column-count 2
      -moz-column-gap 2em
      -webkit-column-gap 2em
      -o-column-gap 2em
      column-gap 2em
    p
      margin 0
      text-align justify
      line-height 1.4em
      padding-bottom 10px
      //font-style italic
      font-family Georgia, Cambria, "Times New Roman", serif
      
#about-event
  background-image url('/img/AboutEvent.jpg')
  //font-size 16px
  h2
    width 450px
    margin-top 220px
    padding-bottom 70px
    
  .dictionary
    border 1px solid #888
    padding 15px
    border-radius 5px
    background-color rgba(255, 255, 255, 0.2)
    //width 600px
    margin 0 auto
    margin-bottom 20px
    height 300px
    overflow hidden

    .column
      width 205px
      padding 0 10px 0 15px
      float left
      &:first-of-type
        padding-left 0
      &:last-of-type
        padding-right 0
    dt
      font-size 14px
      color #666
      font-style italic
      b
        font-size 24px
        color #111
        font-weight normal
        font-style normal
    dd
      font-size 13px
      margin 5px 0 10px 0
      i
        display block
        margin-left 5px
      p
        text-align left

#about-hasgeek
  background-image url('/img/AboutHasGeek.jpg')
  h2
    margin-top 140px
    padding-bottom 180px
    padding-left 250px
    width 200px
    &:after
      margin-top 120px

#venue
  background-image url('/img/Venue.jpg')
  h2
    width 240px
    margin-top 100px
    padding-bottom 100px
    padding-right 240px
    height 140px
    &:after
      margin-top 120px

  #venue-outer, #venue-map
    width 760px
    height 320px
    border-radius 10px

  #venue-outer
    padding 3px
    background-color #eda
    border 1px solid #888
    box-shadow 0 0 10px #999
    margin-bottom 10px

  #venue-map
    position relative
    width 752px
    height 312px
    
    & > div > .gmnoprint:last-of-type
      display none



#schedule
  background-image url('/img/Proposals.jpg')
  h2
    width 240px
    margin-top 110px
    padding-bottom 160px
    padding-right 420px
    font-size 20px
    &:after
      margin-top 120px

  div p.caption
    text-align center
    
  #schedule-table, #proposal-table
    border 1px solid #fb8
    border-radius 6px
    background rgba(255, 240, 200, 0.4)
    box-shadow 0 2px 12px #752
    margin-top 15px
  table
    width 100%
    thead
        th
          padding-top 0.75em
          border-bottom 1px solid #fb8
    tbody
      tr td
        height 3em
        font-size 12px
        border-bottom 1px solid #fb8
        vertical-align top
        text-align left
        a
          color inherit
          color #CD5B00

      tr:last-of-type td
          border-bottom 0 none
      tr:nth-of-type(even)
        background rgba(255, 255, 255, 0.2)
      tr.break td
        height 1em
        text-align center
        vertical-align middle
    th
      text-align left
    th, td
      padding 1em
      border-left 1px solid #fb8
      &:first-child, &:first-child
        border-left none
      &.col
        width 28%
    .session
      display block
    .speaker
      display block
      font-style italic
    .speaker:before
      content "— "
    .break
      text-align center
      font-style italic
      vertical-align middle
    .time
      text-align center
      font-weight bold
      font-style normal

  #proposal-table
    td
      height auto
    tr.title td::before
      content '\2022'
      color #e60
      font-size 1.5em
      padding-right 6px
      text-shadow 0 0 6px rgba(100,100,100,0.4)
      line-height 1.2em
    tr.detail td
      border-bottom 0 none
    tr.title td
      border-top 1px solid #c84

#hacknight
  pre
    width 400px
    text-align left
    margin-left 20px
    border 1px solid rgba(0, 0, 0, 0.2)
    padding 10px
    font-size 0.8em
    background-color rgba(255, 255, 255, 0.15)
    border-radius 4px
  b
    display block
    font-size 1.1em
  ol
    margin-top 0
    font-size 0.9em
    text-align left


#sponsors
  div.separator
    margin-bottom 40px
  ul
    margin-left auto
    margin-right auto
    padding 0
    display block
    li
      margin 0 auto
      padding 0
      //background-image url('/img/scroll.png')
      background-repeat no-repeat
      display inline-block
  h3
    text-align center
    text-transform uppercase
    font-family 'Open Sans Condensed', sans-serif
    font-weight normal
    font-size 18px
    color #666
    //position absolute
    //left 0
    //right 0
  h4
    text-align center
    text-transform uppercase
    font-family 'Open Sans Condensed', sans-serif
    margin-bottom 0.5em

  ul.lead-sponsors
    li
      background-positon 0 0
      width 400px
      height 250px
      position relative
      h3
        top 0

  ul.sub-sponsors
    li
      background-position 0 -265px
      width 250px
      min-height 170px
      position relative
      h3
        top 0

  ul.lead-sponsors, ul.sub-sponsors
    margin-top 0
    margin-bottom 0
    position relative
    width 836px
    background-color #fff
    background-image url(/img/sponsors_bg.png)
    background-repeat repeat-y
    li
      .sponsor-logo
        position absolute
        top 0
        left 0
        bottom 0
        right 0
        background-repeat no-repeat
        background-position 50% 50%
        text-indent -99999px
        a, a:hover, a:active, a:visited
          display block
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          margin 0
          padding 0
          text-decoration none
          background-repeat no-repeat
          background-position 50% 50%
          text-indent -99999px

  .sponsor-writeup
    width 800px
    margin-left auto
    margin-right auto
    h3, h4
      text-align left
  
  #sponsor-microsoft
    background-image url(/img/logos/microsoft.png)
  #sponsor-fusioncharts
    background-image url(/img/logos/fusioncharts.jpg)
  #sponsor-novojuris
    background-image url(/img/logos/novojuris.png)
  #sponsor-talkto
    background-image url(/img/logos/talkto.png)
  #sponsor-mobstac
    background-image url(/img/logos/mobstac.png)
  #sponsor-pptsalon
    background-image url(/img/logos/pptsalon.jpg)
  #sponsor-cis
    background-image url(/img/logos/cis.png)
  #sponsor-sicsr
    height 280px
    background-image url(/img/logos/sicsr.png)

ul.ragged-top
  margin-top 39px

ul.ragged-top:before
  display block
  content ""
  position absolute
  top -29px
  left 0
  right 0
  height 29px
  background url(/img/sponsors_top.png) 0 0 no-repeat

ul.ragged-bottom
  margin-bottom 34px
  li
    height 280px

ul.ragged-bottom:after
  display block
  content ""
  position absolute
  bottom -24px
  left 0
  right 0
  height 24px
  background url(/img/sponsors_bottom.png) 0 0 no-repeat

.hidden
  display none

// Footer
footer
  z-index 16
  position fixed
  bottom 0
  left 0
  right 0
  height 5px
  div
    height 40px
    margin-top -30px
    background-image url('/img/footerbg.png')
    background-repeat repeat-x
    transition-mixin background-position 0.5s ease-in-out
    &.l1,&.l3
      background-position 0 0
    &.l2
      background-position -20px 0
  &:after
    position fixed
    z-index 14
    bottom 0
    left 0
    right 0
    height 5px
    content ' '
    box-shadow 0 -25px 25px 4px rgba(10,20,10,0.40)



// Scrollbars

::-webkit-scrollbar
  width 6px
  height 6px

::-webkit-scrollbar-thumb
  background #EEE
  border-radius 10px
  opacity 0.2
  border 2px solid #FFF
  cursor pointer
  box-shadow none

ol:hover::-webkit-scrollbar-thumb, div:hover::-webkit-scrollbar-thumb
  opacity 1.0
  border 1px solid rgba(140, 140, 140, .5)
  background-color rgba(155, 155, 155, .5)

ol::-webkit-scrollbar-thumb:active, div::-webkit-scrollbar-thumb:active
  border 1px solid rgba(140, 140, 140, 1)
  background-color rgba(155, 155, 155, 1)
